<h1 class="bd-title" id="">Code</h1>
<h2 id="inline-code">Inline code</h2>
<div class="bd-example">
For example, <code>&lt;section&gt;</code> should be wrapped as inline.
</div>
<h2 id="code-blocks">Code blocks</h2>
<div class="bd-example">
<pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
</code></pre>
</div>
<h2 id="variables">Variables</h2>
<div class="bd-example">
<var>y</var> = <var>m</var><var>x</var> + <var>b</var>
</div>
<h2 id="user-input">User input</h2>
<div class="bd-example">
To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
</div>
<h2 id="sample-output">Sample output</h2>
<div class="bd-example">
<samp>This text is meant to be treated as sample output from a computer program.</samp>
</div>
