<h1 class="bd-title" id="">Popovers</h1>
<h2 id="overview">Overview</h2>
<h2 id="example-enable-popovers-everywhere">Example: Enable popovers everywhere</h2>
<h2 id="example-using-the-container-option">Example: Using the <code class="highlighter-rouge">container</code> option</h2>
<h2 id="example">Example</h2>
<div class="bd-example">
<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
</div>
<h3 id="four-directions">Four directions</h3>
<h3 id="dismiss-on-next-click">Dismiss on next click</h3>
<div class="bd-example">
<a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
</div>
<h3 id="disabled-elements">Disabled elements</h3>
<div class="bd-example">
<span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
  <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
</span>
</div>
